<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jordan Schultz</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>Citrix2FactorSafari</string>
	<key>CFBundleIdentifier</key>
	<string>com.Pillar.citrix2factorsafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>options.html</string>
				<key>Identifier</key>
				<string>options</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbarbutton</string>
				<key>Image</key>
				<string>lib/jasmine-2.3.4/jasmine_favicon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Citrix2Factor</string>
				<key>Popover</key>
				<string>options</string>
				<key>Tool Tip</key>
				<string>Access Citrix2Factor bingo card</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>challenge.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://citrix2.alldata.net/Citrix/XenAppCol/auth/challenge.aspx</string>
		</array>
	</dict>
	<key>Description</key>
	<string>This extension is designed to help input the two factor authentication needed to log into the Citrix VPN</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>citrix2.alldata.net</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
